/* root css variables */
:root{
  --bg-color:                    rgba(145,182,235, 0.8);
  --text-color:                                   white;
  --focus-color:                                   blue;
  --div-color:                    rgba(66,143,242, 0.8);
  --link-color:                                   white;
  --border-color:              rgba(255, 255, 255, 0.5);
  --btn-color:                    rgba(66,143,242, 0.8);
  --bg-image:                                   url('');
  --btn-hover-color:               rgba(66,143,242, .5);
}

/* darkMode css variables */
.darkMode{
  --bg-color:                                   #121212;
  --text-color:                                   black;
  --focus-color:                                #888888;
  --div-color:                                  #444444;
  --link-color:                                   black;
  --signup-color:                                 white;
  --btn-color:                                  #121212;
  --btn-hover-color:                                   ;
}

/* light mode css variables */
.lightMode{
  --bg-color:                    rgba(145,182,235, 0.8);
  --text-color:                                   white;
  --focus-color:                                   blue;
  --div-color:                    rgba(66,143,242, 0.8);
  --link-color:                                   white;
  --signup-color:                                 white;
  --border-color:                  rgba(0, 8, 103, 0.8);
  --btn-color:                     rgba(66,143,242, .5);
  --btn-hover-color: ;
}

body{
  background-image:                     var(--bg-image);
  background-color:                     var(--bg-color);
  color:                              var(--text-color);
}

.main-container{
  width:                                            70%;
  border-radius:                                   10px;
  margin:                                          auto;
  margin-top:                                        7%;
  text-align:                                    center;
  -webkit-box-shadow:  3px 6px 17px 6px rgba(0,0,0,0.7); 
   box-shadow:         3px 6px 17px 6px rgba(0,0,0,0.7);
}

nav, footer{
  width:                                           100%;
  background-color:                    var(--div-color);
  -webkit-box-shadow:  3px 6px 17px 6px rgba(0,0,0,0.1); 
  box-shadow:          3px 6px 17px 6px rgba(0,0,0,0.1);
}

nav > ul{
  height:                                           7vh;
  display:                                         flex;
  max-width:                                       100%;
  justify-content:                         space-around;
  align-items:                                   center;
}

nav > ul > li {
  padding-left:                                      4%;
  padding-right:                                     2%;
  list-style-type:                                 none;
}

button{
  color:                              var(--link-color);
  text-decoration:                                 none;
  padding:                                          5px;
  border:                 1px solid var(--border-color);
  border-radius:                                   10px;
  background-color:                    var(--btn-color);
}

button:hover{
  background-color:              var(--btn-hover-color);
}

.input-box{
  padding:                                           5%;
}

section{
  background-color:                    var(--div-color);
}

footer{
  position:                                       fixed;
  bottom:                                             0;
}

footer > *{
  padding-left:                                      4%;
  padding-right:                                     2%;
}

#styleSwitch{
  background-color:                       var(--btn-bg);
}

form{
  padding:                                           5%;
}

input{
  background-color:                    rgba(0, 0, 0, 0);
}

#login-btn{
  color:                              var(--text-color);
  font-weight:                                      400;
  border-radius:                                   10px;
}

#signup{
  text-align:                                    center;
  margin-top:                                       1vh;
}

h6 > a{
  color:                            var(--signup-color);
  text-decoration:                                 none;
}

/*media query for screens over 900 px wide*/
@media (min-width: 900px){
  .main-container{
    width:                                          30%;
  }
  
  nav > ul{
    height:                                         5vh;
    display:                                       flex;
    max-width:                                     100%;
    justify-content:                                end;
    align-items:                                 center;
  }

  nav > ul > li {
    padding-left:                                    4%;
    padding-right:                                   2%;
    list-style-type:                               none;
  }

  button{
    color:                            var(--link-color);
    text-decoration:                               none;
    padding:                                        5px;
    border:               1px solid var(--border-color);
    border-radius:                                 10px;
    background-color:                  var(--btn-color);
    width:                                        100px;
  }

  button:hover{
    background-color:            var(--btn-hover-color);
  }
}/* end 900px minimum media query*/
